
* {
    margin-inline: 0;
    
    
}
html {
    height: 100%;
}

body {
    
    min-height: 100%; 

    background-color: #101242;
    font-family: 'Poppins', sans-serif;
}

header {
    display: block;
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
}

.container {
    background: #101242; 
}

.logo {
    padding: 5px;

}
.logo img {
    display: block;
    margin-top: 0px;
    margin-left: 0pt;
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 87px;

}

.menu {
    position: absolute;
    background: #5228AB;
    min-width: 100%;
    height: 65%;
    left: 0px;
    top: 80px;
   
}

.menu ul {
   
    text-align: left;
    white-space: nowrap;
}

.menu ul li {
    display: inline;
    padding: 38px 20px;
    font-size: 17px;
    

}
.menu ul li a {
    color: #fff;
    text-decoration: none; 

}
.menu ul li a:hover {
    color:#32EB71
}

section {
    display: block;
    width: 75%;
    margin-top: 160px;
}

section > ol {
    display: block;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    
}

section > ol > li {
    display: list-item;
    text-align: -webkit-match-parent;
}

section > ol > li > h2 {
    display: block;
    
    margin-block-start: 0em;
    margin-block-end: 0em;

    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
    height: 50px;

    
    display: flex;
    align-items: center;

    background-color: #2a47b1;
}



section a {
    text-decoration: none;
    
}

.cadeiras_title_link {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin-left: 1.8rem;
}


.DataList {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.DataList >.DataItem_responsiveBox {
    position: relative;
    align-items: center;
    background-color: #1b2c6b65;

}



.DataItem_main {
    width: 28vw;
    margin: 0;
    vertical-align: top;

}

.DataItem_main, .DataItem_stats {
    display: table-cell;
    padding: 18px var(--sp-3);
    vertical-align: middle;
    text-align: center;
}

h4 {
   

    display: flex;
    justify-content: center;
    align-items: center;

    
}

.DataItem_title {
    font-size: 18px; 
    text-align: center;
    
}

.DataItem_title_link {
    color: #fff;
    font-size: 16px;
    font-weight: normal;

    word-wrap: break-word; 
}

.DataItem_stats {
    color: #fff;
    font-size: 16px;
}

.WidgetContainer {
    
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
    margin-top: 190px;


    padding-inline-end: 40px;
    
    max-width: 23%;
    
}
.List {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0e,;
}

.Widget_vertical {
    background-color: #1b2c6b65;

}

.Widget_title {
    background-color: #32EB71;
    color: #101242;
}






footer {

    margin-right: 0;
    margin-left: 0;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-color: #32EB71;
    
}
.rodape {
    text-align: center;
    font-size: 14px;
    color: #101242;

}